In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [4]:
rick_and_morty = pd.DataFrame(
    {
        "nombre": ["Rick", "Morty"],
        "apellidos": ["Sanches", "Smith"],
        "edad": [60, 14]
    }
)
rick_and_morty.head()

  nombre apellidos  edad
0   Rick   Sanches    60
1  Morty     Smith    14

In [6]:
rick_and_morty_2 = pd.DataFrame(
    [
        ["Rick", "Sanchez", 60],
        ["Morty", "Smith", 14]
    ],
    columns = ["nombre", "apellidos", "edad"] 
)
rick_and_morty_2.head()

  nombre apellidos  edad
0   Rick   Sanchez    60
1  Morty     Smith    14

In [8]:
type(rick_and_morty)

pandas.core.frame.DataFrame

In [9]:
type(rick_and_morty_2)

pandas.core.frame.DataFrame

In [15]:
votos = pd.read_csv("D:/datasets/Curso Mauel Garrido/primary_results.csv")
votos.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [17]:
df = pd.read_clipboard
df

In [19]:
votos.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [21]:
votos.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [22]:
votos.index

RangeIndex(start=0, stop=24611, step=1)

In [23]:
votos.loc[1]

state                         Alabama
state_abbreviation                 AL
county                        Autauga
fips                             1001
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: 1, dtype: object

In [26]:
df2 = votos.set_index("county")
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [28]:
df2.loc["Los Angeles"]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Los Angeles,California,CA,6037.0,Democrat,Bernie Sanders,434656,0.420
Los Angeles,California,CA,6037.0,Democrat,Hillary Clinton,590502,0.570
Los Angeles,California,CA,6037.0,Republican,Donald Trump,179130,0.698
Los Angeles,California,CA,6037.0,Republican,John Kasich,33559,0.131
Los Angeles,California,CA,6037.0,Republican,Ted Cruz,30775,0.120

In [29]:
df2.iloc[1]

state                         Alabama
state_abbreviation                 AL
fips                             1001
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: Autauga, dtype: object

In [32]:
votos["state"]

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
5        Alabama
6        Alabama
7        Alabama
8        Alabama
9        Alabama
10       Alabama
11       Alabama
12       Alabama
13       Alabama
14       Alabama
15       Alabama
16       Alabama
17       Alabama
18       Alabama
19       Alabama
20       Alabama
21       Alabama
22       Alabama
23       Alabama
24       Alabama
25       Alabama
26       Alabama
27       Alabama
28       Alabama
29       Alabama
          ...
24581    Wyoming
24582    Wyoming
24583    Wyoming
24584    Wyoming
24585    Wyoming
24586    Wyoming
24587    Wyoming
24588    Wyoming
24589    Wyoming
24590    Wyoming
24591    Wyoming
24592    Wyoming
24593    Wyoming
24594    Wyoming
24595    Wyoming
24596    Wyoming
24597    Wyoming
24598    Wyoming
24599    Wyoming
24600    Wyoming
24601    Wyoming
24602    Wyoming
24603    Wyoming
24604    Wyoming
24605    Wyoming
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [33]:
votos.state

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
5        Alabama
6        Alabama
7        Alabama
8        Alabama
9        Alabama
10       Alabama
11       Alabama
12       Alabama
13       Alabama
14       Alabama
15       Alabama
16       Alabama
17       Alabama
18       Alabama
19       Alabama
20       Alabama
21       Alabama
22       Alabama
23       Alabama
24       Alabama
25       Alabama
26       Alabama
27       Alabama
28       Alabama
29       Alabama
          ...
24581    Wyoming
24582    Wyoming
24583    Wyoming
24584    Wyoming
24585    Wyoming
24586    Wyoming
24587    Wyoming
24588    Wyoming
24589    Wyoming
24590    Wyoming
24591    Wyoming
24592    Wyoming
24593    Wyoming
24594    Wyoming
24595    Wyoming
24596    Wyoming
24597    Wyoming
24598    Wyoming
24599    Wyoming
24600    Wyoming
24601    Wyoming
24602    Wyoming
24603    Wyoming
24604    Wyoming
24605    Wyoming
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [34]:
votos["shape"] = 1
votos.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1

In [36]:
votos.shape

(24611, 9)

In [37]:
votos["shape"]

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
24581    1
24582    1
24583    1
24584    1
24585    1
24586    1
24587    1
24588    1
24589    1
24590    1
24591    1
24592    1
24593    1
24594    1
24595    1
24596    1
24597    1
24598    1
24599    1
24600    1
24601    1
24602    1
24603    1
24604    1
24605    1
24606    1
24607    1
24608    1
24609    1
24610    1
Name: shape, Length: 24611, dtype: int64

In [38]:
type(votos.state)

pandas.core.series.Series

In [39]:
type(votos[["state", "county"]])

pandas.core.frame.DataFrame

In [42]:
votos[votos.votes >= 590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57,1

In [45]:
votos[(votos.county == "Manhattan") & (votos.party == "Democrat")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1

In [51]:
county = "Los Angeles"
votos.query("county == @county and party == 'Democrat'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.42,1
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57,1

### Procesado con pandas...

In [52]:
votos.sort_values(by = "votes", ascending = False)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,1
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,1
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,1
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,1
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536,1
17309,Pennsylvania,PA,Philadelphia,42101.0,Democrat,Hillary Clinton,212785,0.626,1
4462,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Bernie Sanders,212428,0.457,1
1519,California,CA,Los Angeles,6037.0,Republican,Donald Trump,179130,0.698,1
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663,1
14964,New York,NY,Brooklyn,36047.0,Democrat,Hillary Clinton,174236,0.600,1
12206,Michigan,MI,Wayne,26163.0,Democrat,Hillary Clinton,163886,0.600,1
19312,Texas,TX,Harris,48201.0,Democrat,Hillary Clinton,156729,0.705,1
20123,Texas,TX,Harris,48201.0,Republican,Ted Cruz,147721,0.453,1
1552,California,CA,Orange,6059.0,Republican,Donald Trump,146888,0.767,1
800,Arizona,AZ,Maricopa,4013.0,Republican,Donald Trump,144522,0.462,1
1422,California,CA,San Diego,6073.0,Democrat,Hillary Clinton,139813,0.551,1
2638,Florida,FL,Broward,12011.0,Democrat,Hillary Clinton,132527,0.725,1
2712,Florida,FL,Miami-Dade,12086.0,Democrat,Hillary Clinton,129467,0.747,1
764,Arizona,AZ,Maricopa,4013.0,Democrat,Hillary Clinton,126988,0.581,1
15996,Ohio,OH,Cuyahoga,39035.0,Democrat,Hillary Clinton,125914,0.632,1
17308,Pennsylvania,PA,Philadelphia,42101.0,Democrat,Bernie Sanders,125688,0.370,1
1573,California,CA,San Diego,6073.0,Republican,Donald Trump,124255,0.784,1
1408,California,CA,Orange,6059.0,Democrat,Hillary Clinton,123723,0.546,1
17211,Pennsylvania,PA,Allegheny,42003.0,Democrat,Hillary Clinton,122399,0.551,1
15038,New York,NY,Queens,36081.0,Democrat,Hillary Clinton,122386,0.616,1
14963,New York,NY,Brooklyn,36047.0,Democrat,Bernie Sanders,116327,0.400,1
9148,Maryland,MD,Prince George's,24033.0,Democrat,Hillary Clinton,113912,0.742,1
19224,Texas,TX,Dallas,48113.0,Democrat,Hillary Clinton,113574,0.715,1
1421,California,CA,San Diego,6073.0,Democrat,Bernie Sanders,111898,0.441,1
2931,Florida,FL,Miami-Dade,12086.0,Republican,Marco Rubio,111898,0.627,1
...,...,...,...,...,...,...,...,...,...
8469,Maine,ME,Grand Lake Stream Plt,92300178.0,Democrat,Bernie Sanders,0,0.000,1
9337,Massachusetts,MA,Bolton,92500034.0,Democrat,No Preference,0,0.000,1
8488,Maine,ME,Hamlin,92300188.0,Democrat,Hillary Clinton,0,0.000,1
9376,Massachusetts,MA,Buckland,92500047.0,Democrat,No Preference,0,0.000,1
5519,Iowa,IA,Allamakee,19005.0,Democrat,Martin O'Malley,0,0.000,1
5516,Iowa,IA,Allamakee,19005.0,Democrat,Uncommitted,0,0.000,1
22016,Vermont,VT,Isle La Motte,95000099.0,Republican,Ben Carson,0,0.000,1
9415,Massachusetts,MA,Chesterfield,92500060.0,Democrat,No Preference,0,0.000,1
9421,Massachusetts,MA,Chilmark,92500062.0,Democrat,No Preference,0,0.000,1
5760,Iowa,IA,Marshall,19127.0,Democrat,Uncommitted,0,0.000,1
5763,Iowa,IA,Marshall,19127.0,Democrat,Martin O'Malley,0,0.000,1
5515,Iowa,IA,Adams,19003.0,Democrat,Martin O'Malley,0,0.000,1
8490,Maine,ME,Hammond,92300189.0,Democrat,Hillary Clinton,0,0.000,1
5764,Iowa,IA,Mills,19129.0,Democrat,Uncommitted,0,0.000,1
8489,Maine,ME,Hammond,92300189.0,Democrat,Bernie Sanders,0,0.000,1
5512,Iowa,IA,Adams,19003.0,Democrat,Uncommitted,0,0.000,1
8470,Maine,ME,Grand Lake Stream Plt,92300178.0,Democrat,Hillary Clinton,0,0.000,1
9529,Massachusetts,MA,Florida,92500098.0,Democrat,No Preference,0,0.000,1
9556,Massachusetts,MA,Goshen,92500108.0,Democrat,No Preference,0,0.000,1
9559,Massachusetts,MA,Gosnold,92500109.0,Democrat,No Preference,0,0.000,1
5511,Iowa,IA,Adair,19001.0,Democrat,Martin O'Malley,0,0.000,1
5767,Iowa,IA,Mills,19129.0,Democrat,Martin O'Malley,0,0.000,1
5508,Iowa,IA,Adair,19001.0,Democrat,Uncommitted,0,0.000,1
5768,Iowa,IA,Mitchell,19131.0,Democrat,Uncommitted,0,0.000,1
9619,Massachusetts,MA,Hawley,92500129.0,Democrat,No Preference,0,0.000,1
8476,Maine,ME,Greenbush,92300181.0,Democrat,Hillary Clinton,0,0.000,1
8474,Maine,ME,Great Pond,92300180.0,Democrat,Hillary Clinton,0,0.000,1
8473,Maine,ME,Great Pond,92300180.0,Democrat,Bernie Sanders,0,0.000,1
9637,Massachusetts,MA,Holland,92500135.0,Democrat,No Preference,0,0.000,1
8290,Maine,ME,Castle Hill,92300087.0,Democrat,Hillary Clinton,0,0.000,1

In [55]:
votos.groupby(["state", "party"]).votes.sum()

state           party
Alabama         Democrat       386327
                Republican     837632
Alaska          Democrat          539
                Republican      21930
Arizona         Democrat       399097
                Republican     435103
Arkansas        Democrat       209448
                Republican     396523
California      Democrat      3442623
                Republican    1495574
Colorado        Democrat       121184
Connecticut     Democrat       322485
                Republican     208817
Delaware        Democrat        92609
                Republican      67807
Florida         Democrat      1664003
                Republican    2276926
Georgia         Democrat       757340
                Republican    1275601
Hawaii          Democrat        33658
                Republican      13228
Idaho           Democrat        23705
                Republican     215284
Illinois        Democrat      1987834
                Republican    1384703
Indiana         Democrat       638638
                Republican    1080653
Iowa            Democrat       139980
                Republican     186724
Kansas          Democrat        39043
                               ...
Oklahoma        Democrat       313392
                Republican     452731
Oregon          Democrat       572485
                Republican     361490
Pennsylvania    Democrat      1638644
                Republican    1537696
Rhode Island    Democrat       119213
                Republican      60381
South Carolina  Democrat       367491
                Republican     737917
South Dakota    Democrat        53004
                Republican      66877
Tennessee       Democrat       365637
                Republican     834939
Texas           Democrat      1410641
                Republican    2737248
Utah            Democrat        76999
                Republican     177204
Vermont         Democrat       134198
                Republican      58762
Virginia        Democrat       778865
                Republican    1012807
Washington      Democrat        26299
                Republican     510851
West Virginia   Democrat       210214
                Republican     188138
Wisconsin       Democrat      1000703
                Republican    1072699
Wyoming         Democrat          280
                Republican        903
Name: votes, Length: 95, dtype: int64

In [65]:
votos["letra_estado"] = votos.state_abbreviation.apply(lambda s: s[0])
votos.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,letra_estado
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,A
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,1,A
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,1,A
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,1,A

In [67]:
df_pobreza = pd.read_csv("D:/datasets/Curso Mauel Garrido/PovertyEstimates.csv")
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [68]:
df_merge = votos.merge(df_pobreza, left_on = "fips", right_on = "FIPStxt")
df_merge.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,letra_estado,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,1,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,1,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,1,A,1001,12.7

In [73]:
df_merge.to_excel("D:/datasets/Curso Mauel Garrido/votos_pobreza_2.xls", sheet_name = "datos")