# Ejercicio - Selección de Variables

In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import OneHotEncoder

pelis = pd.read_csv("data/movies.csv").drop(columns="titulo")
variable_objetivo = "ventas"

# eliminamos las peliculas sin ventas
pelis = pelis[pelis[variable_objetivo].notnull()]

variables_independientes = pelis.drop(variable_objetivo, axis=1).columns
pelis = OneHotEncoder().fit_transform(pelis)

pelis.head()

,genero_0,genero_1,genero_2,genero_3,genero_4,genero_5,genero_6,genero_7,genero_8,genero_9,...,pais_30,pais_31,pais_32,pais_-1,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0.894647,676525.0,106.0,6.7,13.0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.963037,32.0,87.0,6.0,124.0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [5]:
X = Imputer(strategy="mean").fit_transform(pelis.drop(variable_objetivo, axis=1))
y = pelis[variable_objetivo]

### Crear un Selector KBest con el criterio `f_regression` que seleccione 5 variables , transformar los datos,  y comprobar las dimensiones del nuevo dataset

### Crear un Selector RFE y entrenar con un Random Forest con las 20 mejores variables. ¿Que variables son las que se han elegido?