# Ejercicio - KMedias

** Vamos a usar el Movies dataset**

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import OneHotEncoder

pelis = pd.read_csv("data/movies.csv")
pelis = pelis[pelis.genero.notnull()]

# mantenemos el genero de las peliculas como una lista aparte
genero_peliculas = pelis.genero.values
n_generos = len(pelis.genero.unique())



pelis = pelis.drop("genero", axis=1)
pelis = OneHotEncoder().fit_transform(pelis)

pelis.head()

,lenguaje_0,lenguaje_1,lenguaje_2,lenguaje_3,lenguaje_4,lenguaje_5,lenguaje_6,lenguaje_7,lenguaje_8,lenguaje_9,...,titulo_1275,titulo_1276,titulo_1277,titulo_-1,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0.894647,676525.0,106.0,6.7,13.0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.963037,32.0,87.0,6.0,124.0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [7]:
n_generos

17

imputamos los valores inexistentes

In [9]:
X = Imputer(strategy="mean").fit_transform(pelis)

### Hacer un estimador KMedias con número de clusters igual al número de géneros. Entrenar con el dataset pelis y calcular el cluster asignado a cada película

In [16]:
from sklearn.cluster import KMeans

In [17]:
kmedias = KMeans(n_clusters=n_generos)

clusters = kmedias.fit_predict(X)

In [18]:
clusters[:10]

array([ 4,  1,  3,  1,  5,  1,  6, 12, 10,  1])

### Calcular el coeficiente de silueta

In [19]:
from sklearn.metrics import silhouette_score

silhouette_score(X, clusters)

0.53333668577719129

### Calcular el Indice de Rand ajustado (`adjusted_rand_score`) usando los generos como clusters naturales

In [20]:
from sklearn.metrics import adjusted_rand_score

In [21]:
adjusted_rand_score(genero_peliculas, clusters)

0.0045227584642188855