# Ejercicio - KMedias

**Vamos a usar el Movies dataset**

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import OneHotEncoder

pelis = pd.read_csv("D:/datasets/Curso_Mauel_Garrido/movies.csv")
pelis = pelis[pelis.genero.notnull()]

# mantenemos el genero de las peliculas como una lista aparte
genero_peliculas = pelis.genero.values
n_generos = len(pelis.genero.unique())



pelis = pelis.drop("genero", axis = 1)
pelis = OneHotEncoder().fit_transform(pelis)

pelis.head()

,franquicia_1,franquicia_2,franquicia_3,franquicia_4,franquicia_5,franquicia_6,franquicia_7,franquicia_8,franquicia_9,franquicia_10,...,titulo_1281,titulo_1282,titulo_1283,titulo_-1,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,0.894647,676525.0,106.0,6.7,13.0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,8.963037,32.0,87.0,6.0,124.0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [4]:
n_generos

17

In [5]:
pelis.shape

(1298, 4951)

imputamos los valores inexistentes

In [6]:
X = Imputer(strategy = "mean").fit_transform(pelis)

c:\users\jorge\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

### Hacer un estimador KMedias con número de clusters igual al número de géneros. Entrenar con el dataset pelis y calcular el cluster asignado a cada película

In [7]:
from sklearn.cluster import KMeans

In [8]:
kmedias = KMeans(n_clusters = n_generos)

clusters = kmedias.fit_predict(X)

In [9]:
clusters[:10]

array([ 9,  1,  4,  1,  4,  1, 10, 15,  8,  1])

### Calcular el coeficiente de silueta

In [11]:
from sklearn.metrics import silhouette_score

silhouette_score(X, clusters)

0.5370510564636573

### Calcular el Indice de Rand ajustado (`adjusted_rand_score`) usando los generos como clusters naturales

In [12]:
from sklearn.metrics import adjusted_rand_score

In [13]:
adjusted_rand_score(genero_peliculas, clusters)

0.006086060981595424